.title  {
    margin-top: 3%;
    width: 94%;
}

.non_title {
    margin-top: 5%;
    width: 94%;
}

.title > h2 {
    margin-bottom: 0;
}

.non_title > h4{
    margin-bottom: 0;
}

.chat_wrap {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 96%;
    border: 1px solid #98C5AB;
    margin-top : 2%;
}

.author {
    list-style: none;
}

ul {
    padding: 0 5%;
    margin-bottom: 0;
}

li {
    margin-bottom: 5%;
}

a {
    text-decoration: none;
}

h5 {
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    font-weight: lighter;
}

.profile {
    width : 100%;
    margin-top: 3%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
}

.profile_image {
    width : 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0 3% 0 2%;
    cursor: pointer;
}

.author_info {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.sub {
    cursor: pointer;
}

p {
    margin: 0;
}

.chatting {
    font-size: 12px;
}

.message_cnt, .sub_btn {
    margin-left: 6%;
    background-color: #badac7;
    text-align: center;
    font-size: 14px;
}

.message_cnt {
    width: 40px;
    border-radius: 50%;
    height: 40px;
    line-height: 40px;
}

.sub_btn {
    width: 60px;
    cursor: pointer;
    border-radius: 25%;
    height: 30px;
    line-height: 30px;
}

/*모달창*/
.modal {
    animation: fadeInDown 1s;
    width: 500px;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 999;
    margin: 0 auto;
}

.modal-content {
    /* box-shadow: 1px 5px 7px 0px rgba(130, 130, 130, 0.25); */
    border-radius: 10px;
    background-color: white;
    border: 1px solid gray;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    width: 350px;
    height: 500px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    z-index: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title_wrap {
    width: 100%;
    height: 15%;
    background-color: #badac7;
}

.modal_author {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    float: left;
    margin-left: 15px;
}

.author_info_wrap {
    width: 100%;
    height: 70%;
}

.information {
    color: #878787;
    font-size: 14px;
}
/* 모달과 제목 끝*/

/* 모달창 버튼들 */
.btn_wrap {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.close-button {
    display: block;
    text-align: center;
    background-color: #D9D9D9;
    text-decoration: none;
    color: black;
}

.sub_button {
    background-color: #badac7;
    padding: 0;
    color: black;
}

.close-button, .sub_button {
    font-size: 16px;
    border-radius: 10px;
    width: 80px;
    height: 35px;
    line-height: 35px;
    border: none;
    cursor: pointer;
    font-family: 'GmarketSansMedium';
}

.author_talk, .author_book {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 20px;
}

.wrap_author_modal {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.author_image_wrap {
	display: flex;
	flex-wrap: wrap;
}

.author_image {
	width: 80px;
	height: 120px;
	margin-right: 5px;
}

.author_image > img {
	width: 100%;
	height: 100%;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -10%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
