@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

*{
	margin:0;
	padding:0;
}
.container{
	font-family: 'GmarketSansMedium';
	width: 500px;
	height: 100vh;
	margin: 0 auto;
	padding: 25px 25px 0 25px;
	background-color: #d5ecdf;
}
.container h1{
	text-align: left;
	padding: 5px 5px 5px 15px;
	color: #FFBB00;
	border-left: 3px solid #FFBB00;
}

.title_wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

a{
	text-decoration: none;
	color: #0a0a0a;
}

hr {
	margin: 20px 0;
}

.chating{
	width: 500px;
	height: 70vh;
	overflow: auto;
}
.chating .me{
	color: #0a0a0a;
	text-align: right;
}
.chating .others{
	color: #FFE400;
	text-align: left;
}

.inputTable {
	width: 100%;
}

#sendBtn {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

input{
	font-family: 'GmarketSansMedium';
	width: 330px;
	height: 25px;
}