*{
    list-style: none;
}

.profile {
    width : 100%;
    margin-top: 3%;
    display: flex;
    align-items: center;
}

.profile_image {
    width : 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0 3% 0 2%;
}

.challenge_wrap{
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 96%;
    height : 30vh;
    border: 1px solid #98C5AB;
    margin-top : 2%;
}

.level_wrap {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    height: 70%;
}

.level_info {
    width: 40%;
    padding-left: 2%;
}

.level {
    margin-bottom: 8px;
}

.level_total {
    margin-top: 8px;
}

.image_wrap {
    width: 60%;
    height: 100%;
}

.level_image {
    width: 100%;
    height:100%;
}

.list_wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height:30%;
    align-items: center;
    justify-content: center;
}

.challenge_list_wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 2%;
}

.challenge_list {
    display: block;
    border: 1px solid #98C5AB;
    border-radius: 4%;
    width: 50%;
    height: 30px;
    margin: 0 1%;
    padding-top: 8px;
    text-align: center;
    font-size: 14px;
}

.book_wrap {
    margin-top: 3%;
    width: 90%;
    height: 15%;
    border: 1px solid #98C5AB;
    border-radius: 4%;
    display: flex;
    flex-direction: row;
    padding: 2% 3%;
    justify-content: space-between
}

.book_item_wrap {
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.book_item {
    border: 1px solid;
    width: 30px;
    height: 50%;
    background: #c3e4d0;
}

.book_btn {
    height: 100%;
    display: flex;
    align-items: center;
}

.book_btn > button {
    width: 30px;
    height: 30px;
}

.map_wrap {
    margin-top: 2%;
    width: 96%;
    height: 30%;
}

.map_info {
    display: flex;
    align-items: center;
}

.map_research {
    width: 10px;
    height: 10px;
    margin-left: 2%;
}

.map {
    width: 100%;
    height: 90%;
    border: 1px solid #98C5AB;
    border-radius: 4%;
}