.logo {
    width: 200px;
    height: 200px;
    border: 1px solid;
    margin-top: 20%;
}

.login_wrap {
    width: 100%;
}

.form_wrap {
    width: 70%; 
    margin-bottom: 5%;
}

.login_form {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.login_input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #989898;
    margin-bottom: 5%;
    font-family: "GmarketSansMedium";
}

.login_info {
    margin-bottom: 3%;
}

.btn_login {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    background: #525252;
    font-family: 'GmarketSansMedium';
    color: #fff;
    margin-top: 5%;
}

.form_wrap > .login_link {
    margin-top: 3%;
    float: right;
}

.social_login {
    width: 70%;
    display: flex;
    border-radius: 24px;
    -webkit-box-align: center;
    align-items: center;
    font-family: 'GmarketSansMedium';
    font-size: 13px;
    margin-bottom: 3%;
    border: 0.5px solid;
}

.social_login > img {
    display: block;
    border-style: none;
    width: 30px;
}

.social_login > span {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.kakao {
    background-color: #FEE500;
}

.google {
    background-color: #fff;
}

a {
    color: rgb(71, 71, 71);
}

.register_wrap {
    width: 70%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.social_info {
    width: 100%; 
    margin: 0; 
    padding: 0; 
    text-align: center; 
    font-size:15px;
}

.social_info:after {
    display: inline-block; 
    margin: 0 0 0 20px; 
    height: 1px; 
    content: " "; 
    text-shadow: none; 
    background-color: #999; 
    width: 20%; 
}

.social_info:before {
    display: inline-block; 
    margin: 0 20px 0 0;
    height: 1px; 
    content: " "; 
    text-shadow: none; 
    background-color: #999; 
    width: 20%; 
}