@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

.container {
    font-family: 'GmarketSansMedium';
    width: 500px; /* 전체 width 조절 */
    height: 100vh;
    margin: 0 auto; /* 가운데로 오게 하기 */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.nav {
    width : 500px;
    position: fixed;
    bottom: 0;
    box-shadow: 0px -4px 8px 0px rgba(162, 162, 162, 0.25);
}

.contents_wrap {
    display: flex;
    flex-direction: column;
    width : 100%;
    align-items: center;
    height: 100%;
}