.profile {
    width : 100%;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_wrap {
    width: 96%;
    display: flex;
    flex-direction: row;
}

.profile_image > img {
    width : 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0 3% 0 2%;
}

.info_wrap {
    width: 55%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.profile_name {
	width: 100%;
    font-size: 30px;
}

.profile_name > p {
    margin-top: 20px;
    margin-bottom: 0px;
}

.profile_info {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    color: rgb(66, 66, 66);
}

.profile_info > span {
    width: 100%;
    display: flex;
    margin-right: 10px;
    align-items: center;
}

.profile_info > span > p {
    display: block;
    margin-top: 3px;
    margin-left: 10px;
}

.profile_info_wrap {
    margin: 3% 0;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 80px;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: rgb(224, 224, 224);
    text-align: center;
}

.profile_info_wrap > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

hr {
    margin: 10px 0;
}

p {
    margin: 0;
}

.separate {
    width: 96%;
}

.btn_logout {
    width: 60%;
    height: 45px;
    border-radius: 10px;
    background: #ffffff;
    font-family: 'GmarketSansMedium';
    color: #000000;
    border: 1px solid #98C5AB;
    margin-top: 5%;
}

.btn_logout:hover {
    background-color: rgba(116, 252, 175, 0.8);
}

.writer, .reader {
	display: flex;
	align-items: center;
	width: 20%;
}

.writer > div, .reader >div {
	background-color: aquamarine;
	border-radius: 25px;
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
}