@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
  
.nav-bar {
  width: 100%;
  height: 100px;
  padding: 0 20px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-bar__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-radius: 50px;
  padding: 15px 25px;
  transition: background-color 0.2s;
}
.nav-bar__item > img {
  width: 35px;
  height: 35px;
  transition: padding 0.4s;
}
.nav-bar__item.active {
  background-color: rgba(116, 252, 175, 0.8);
}
