<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/challenge.css">
    <script src="../static/js/challenge.js"></script>
</head>
<div class="title">
    <h2>월간 투두 달력</h2>
    <h2 id="change"></h2> <!--상단에 "~월 년도" 부분-->
</div>

<div class="chat_wrap">
    <!--달력 부분-->
    <div class="CalendarStart"> <!--⭐여기 달력 코드 베껴왔는데 뭐 안되면 지연이에게 토스...-->
        <table class="Calendar">
            <thead>
                <tr>
                    <td onClick="prevCalendar();">&#60;</td>
                    <td colspan="5">
                        <span id="calYear"></span>년
                        <span id="calMonth"></span>월
                    </td>
                    <td onClick="nextCalendar();">&#62;</td>
                </tr>
                <tr>
                    <td>일</td>
                    <td>월</td>
                    <td>화</td>
                    <td>수</td>
                    <td>목</td>
                    <td>금</td>
                    <td>토</td>
                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>
    </div> 
    <!--달력 부분 끝--------------------------------------------------------------------------->

    <!--오늘의 챌린지 부분-->
    <div class="todayChallenge"> 
        <h1>오늘의 투두</h1>

        <div class="challengeList">
            <div class="challenges" th:each="todo : ${list}"> <!--⭐⭐ 반복문?-->
            	<div style="display: flex; align-items: center; justify-content: flex-start; width: 70%;">
	                <img th:if="${todo.is_success}" src="../static/image/check.png" alt="" th:attr="onclick='changeCheck(this, ' + ${todo.id} + ')'" id="check">
					<img th:unless="${todo.is_success}" src="../static/image/uncheck.png" alt="" th:attr="onclick='changeCheck(this, ' + ${todo.id} + ')'" id="check">
	                <p th:class="${todo.is_success} ? 'detail textLine' : 'detail'" th:text="${todo.todo_content}"></p>
                </div>
                <div class="sub_btn" th:attr="data-todo-id=${todo.id}" onclick="deleteTodo()">삭제</div>
            </div>
        </div>

        <div class="challengeAddBtn">
            <button type="button" id="popChallengeModal" th:data-id="${user.email}">
                투두 추가하기
            </button>
        </div>
    </div>
    <!--오늘의 챌린지 부분 끝--------------------------------------------------------------------------->

    <!--어서 챌린지 참여하기 부분-->
<!--     <div class="otherChallenge">
        <h2>어서 챌린지 참여하기</h2>
        <div class="underline"></div>

        <div class="otherBook"> ⭐⭐ 반복문?
            <div class="bookImg">
                <img src="../static/image/test.png" alt=""> ⭐⭐여기 책 이미지 부분
            </div>

            <div class="otherBookInfo">
                <p class="otherBookTitle">누구와 함께하는 라라라라라라라</p> ⭐⭐여기 "누구와 함께하는" 부분
                <p class="otherbookName"><b>따라라라책안녕낭녕dksjd</b></p> ⭐⭐여기 책 이름 부분
                <p class="otherBookDate">기간: 2023.12.1~2023.12.25</p> ⭐⭐여기 기간 부분
                <p class="otherBookWord">겨울 시간 취미 노력</p>  ⭐⭐여기 책 키워드? 부분
            </div>

            <div class="doChallenge"> 
                <button type="button">챌린지 도전하기</button> ⭐⭐여기 "챌린지 도전하기" 버튼
            </div>
        </div>
    </div>
</div> -->
<!--어서 챌린지 참여하기 부분 끝--------------------------------------------------------------------------->

<!--챌린지 추가하기 모달창-->
<div id="challengeModal" class="challengeModal">
    <div class="addModal-content">
        <div class="title_wrap">
            <p class="modal_author">투두 추가하기</p>
            <p class="popClose">
                <img src="../static/image/closeBtn.png" alt="" id="challengeModalClose">
            </p>
        </div>

        <!--⭐⭐챌린지 추가하기 Form-->
        <form action="todo/add" method="post" class="infoForm">
            <div class="bookInfo">
                <div class="bookTitle">
                    <p class="bookName">투두 :  </p>
                    <p class="bookNameInput">
                        <input type="text" name="todo_content">
                    </p>
                </div>
            </div>
			<input type="hidden" name="userId" id="userId">
            <div class="submitPart">
                <button type="submit" class="submitBtn">확인</button>
            </div>
        </form>
    </div>
</div>
<!--챌린지 추가하기 모달창 끝--------------------------------------------------------------------------->

