<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/chat_list.css">
    <script src="../static/js/chat_list.js"></script>
</head>
<div class="title">
    <h2>작가와의 채팅</h2>
</div>

<div class="chat_wrap">
    <ul class="author_wrap">
        <li class="author">
            <div class="profile">
                <img src="" alt="" class="profile_image" id="open-modal">
                <div class="author_info sub">
                    <p class="profile_name">사용자 작가님</p>
                    <p class="chatting">신작 쓰시느라 정말 수고 많으셨습니다!</p>
                </div>
            </div>
            <hr>
        </li>
        <li class="author">
            <div class="profile">
                <img src="" alt="" class="profile_image">
                <div class="author_info sub">
                    <p class="profile_name">사용자 작가님</p>
                    <p class="chatting">신작 쓰시느라 정말 수고 많으셨습니다!</p>
                </div>
            </div>
            <hr>
        </li>
        <li class="author">
            <div class="profile">
                <img src="" alt="" class="profile_image">
                <div class="author_info sub">
                    <p class="profile_name">사용자 작가님</p>
                    <p class="chatting">신작 쓰시느라 정말 수고 많으셨습니다!</p>
                </div>
                <div class="message_cnt">3</div>
            </div>
            <hr>
        </li>
    </ul>
</div>

<div class="non_title">
    <h4>아직 구독하지 않은 작가</h4>
</div>

<div class="chat_wrap">
    <ul class="author_wrap">
        <li class="author">
            <div class="profile">
                <img src="" alt="" class="profile_image">
                <div class="author_info">
                    <p class="profile_name">사용자 작가님</p>
                </div>
                <div class="sub_btn">구독</div>
            </div>
            <hr>
        </li>
        <li class="author">
            <div class="profile">
                <img src="" alt="" class="profile_image">
                <div class="author_info">
                    <p class="profile_name">사용자 작가님</p>
                </div>
                <div class="sub_btn">구독</div>
            </div>
            <hr>
        </li>
        <li class="author">
            <div class="profile">
                <img src="" alt="" class="profile_image">
                <div class="author_info">
                    <p class="profile_name">사용자 작가님</p>
                </div>
                <div class="sub_btn">구독</div>
            </div>
            <hr>
        </li>
    </ul>
</div>

<div id="modal" class="modal">
    <div class="modal-content">
        <div class="title_wrap">
            <p class="modal_author">사용자 작가님</p>
        </div>
        <div class="author_info_wrap">
            <div class="author_talk">
                <h5>작가의 한 줄 소개</h5>
                <div class="author_intro">

                </div>
            </div>
            <div class="author_book">
                <h5>작가의 책</h5>
            </div>
        </div>
        <div class="btn_wrap">
            <a class="sub_button">구독</a>
            <a class="close-button" id="closePopup">닫기</a>
        </div>
    </div>
</div>