<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/chat_list.css">
    <script src="../static/js/chat_list.js"></script>
</head>
<div class="title">
    <h2>작가와의 채팅</h2>
</div>

<div class="chat_wrap">
    <ul class="author_wrap">
        <li class="author" th:each="author:${subscribedAuthors}">
            <div class="profile">
                <img src="../static/image/profile.png" alt="" class="profile_image"
                th:data-id="${author.id}"
               	th:data-name="${author.author_name}" th:data-info="${author.author_info}">
                <div class="author_info sub">
                    <p class="profile_name" th:text="${author.author_name} + ' 작가님'"></p>
                </div>
                <div class="unsub_btn" th:if="${author.authorEmail != user.email}" 
                th:onclick="'unsubscribeFromAuthor(' + ${user.id} + ', ' + ${author.id} + ')'">구독 취소</div>
            </div>
            <hr>
        </li>
    </ul>
</div>

<div class="non_title">
    <h4>아직 구독하지 않은 작가</h4>
</div>

<div class="chat_wrap">
    <ul class="author_wrap">
        <li class="author" th:each="author, iterStat : ${notSubscribedAuthors}">
            <div class="profile" th:if="${author.authorEmail != user.email}">
               	<img src="../static/image/profile.png" alt="" class="profile_image"
               	th:data-id="${author.id}"
               	th:data-name="${author.author_name}" th:data-info="${author.author_info}">
                <div class="author_info">
                    <p class="profile_name" th:text="${author.author_name} + ' 작가님'"></p>
                </div>
               	<div class="sub_btn" th:onclick="'subscribeToAuthor(' + ${user.id} + ', ' + ${author.id} + ')'">구독</div>
            </div>
            <hr>
        </li>
    </ul>
</div>

<div id="modal" class="modal">
    <div class="modal-content">
        <div class="title_wrap">
            <p class="modal_author">사용자 작가님</p>
        </div>
        <div class="author_info_wrap">
            <div class="author_talk">
                <h4>작가의 한 줄 소개</h4>
                <div class="author_intro">
					
                </div>
            </div>
            <div class="author_book">
                <h4>작가의 책</h4>
                <div class="author_image_wrap" id="authorImageContainer">
					<div class="author_image">
						<img src="" alt="">
					</div>
				</div>
            </div>
        </div>
        <div class="btn_wrap">
            <a class="close-button" id="closePopup">닫기</a>
        </div>
    </div>
</div>