<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <script src="../static/js/home.js"></script>
</head>
<div class="profile">
    <img src="../static/image/profile.png" alt="" class="profile_image">
    <p class="profile_name" >[[${user.name}]] 님</p>
</div>

<div class="challenge_wrap">
    <div class="level_wrap">
        <div class="level_info">
            <p class="level" th:text="${rate.rate_info}"></p>
            <p class="level_total" >총 [[${bookCnt}]]권</p>
        </div>
        <div class="image_wrap">
            <img th:src="${rate.rate_image}" alt="" class="level_image">
        </div>
    </div>
    <div class="list_wrap">
        <ul class="challenge_list_wrap">
            <li th:each="item, iterStat : ${list}" class="challenge_list" th:if="${iterStat.index < 2}">
		        <span th:text="${item.todo_content}"></span>
		    </li>
        </ul>
    </div>
</div>

<div class="book_wrap">
    <div class="book_item_wrap">
        <div class="book_item" th:each="book, iterStat : ${bookReviews}" th:limit-start="0" th:limit-end="11">
		    <p class="book_title" th:text="${book.book_name}"></p>
		</div>
    </div>
</div>

<div class="map_wrap">
    <div class="map_info">
        <p>국내 베스트셀러 도서</p>
    </div>
    <div class="map" id="map">
    	<div class="best_book" th:each="book : ${bookList}">
    		<img alt="" th:src="${book.bookImageURL}">
    	</div>
    </div>
</div>