<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <script src="../static/js/home.js"></script>
</head>
<div class="profile">
    <img src="" alt="" class="profile_image">
    <p class="profile_name">사용자 님</p>
</div>

<div class="challenge_wrap">
    <div class="level_wrap">
        <div class="level_info">
            <p class="level">집으로 돌아간 거북이</p>
            <p class="level_total">총 100권</p>
        </div>
        <div class="image_wrap">
            <img src="" alt="" class="level_image">
        </div>
    </div>
    <div class="list_wrap">
        <ul class="challenge_list_wrap">
            <li class="challenge_list">오늘의 할 일</li>
            <li class="challenge_list">오늘의 할 일</li>
        </ul>
    </div>
</div>

<div class="book_wrap">
    <div class="book_item_wrap">
        <div class="book_item">
            <a href="">
                <p class="book_title"></p>
            </a>
        </div>
        <div class="book_item">
            <a href="">
                <p class="book_title"></p>
            </a>
        </div>
        <div class="book_item">
            <a href="">
                <p class="book_title"></p>
            </a>
        </div>
    </div>
    <div class="book_btn">
        <button></button>
    </div>
</div>

<div class="map_wrap">
    <div class="map_info">
        <p>내 주변의 서점, 도서관</p>
        <button class="map_research"></button>
    </div>
    <div class="map" id="map">

    </div>
</div>
