<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/mypage.css">
    <script src="../static/js/mypage.js"></script>
</head>
<div class="profile">
    <div class="profile_wrap">
        <div class="profile_image">
            <img src="" alt="">
        </div>
        <div class="info_wrap">
            <div class="profile_name">
                <p>사용자 님</p>
            </div>
            <div class="profile_info">
                <span>구독중인 작가<p>6</p></span>
                <span>서북이 단계<p>10</p></span>
            </div>
        </div>
    </div>
    <div class="profile_info_wrap">
        <div class="write_book">
            <p>기록한 책</p>
            <p>13</p>
        </div>
        <hr>
        <div class="write_challege">
            <p>참여한 챌린지</p>
            <p>23</p>
        </div>
    </div>
</div>

<hr class="separate">

<button type="button" class="btn_logout"> 로그아웃 </button>

