<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/mypage.css">
    <script src="../static/js/mypage.js"></script>
</head>
<div class="profile">
    <img src="" alt="" class="profile_image">
    <p class="profile_name">사용자 님</p>
    <p class="profile_author">구독중인 작가 <p>6</p></p>
    <p class="profile_level">서북이 단계 <p>10</p></p>

    <div class="profile_wrap">
        <div class="write_book">
            <p>기록한 책</p>
            <p>13</p>
        </div>
        <div class="write_challege">
            <p>참여한 챌린지</p>
            <p>23</p>
        </div>
    </div>
</div>