<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/nav.css">
    <script src="../static/js/nav.js"></script>
</head>
  <div class="wrapper">
    <div class="nav-bar">
      <div class="nav-bar__item challenge">
        <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDI1NiAyNTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3QgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNTYiIHdpZHRoPSIyNTYiLz48cmVjdCBmaWxsPSJub25lIiBoZWlnaHQ9IjE3NiIgcng9IjgiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjgiIHdpZHRoPSIxNzYiIHg9IjQwIiB5PSI0MCIvPjxsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjgiIHgxPSIxNzYiIHgyPSIxNzYiIHkxPSIyNCIgeTI9IjU2Ii8+PGxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iOCIgeDE9IjgwIiB4Mj0iODAiIHkxPSIyNCIgeTI9IjU2Ii8+PGxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iOCIgeDE9IjQwIiB4Mj0iMjE2IiB5MT0iODgiIHkyPSI4OCIvPjwvc3ZnPg==" />
      </div>
      
      <div class="nav-bar__item book">
        <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDI1NiAyNTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3QgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNTYiIHdpZHRoPSIyNTYiLz48cGF0aCBkPSJNNDgsMjE2YTIzLjksMjMuOSwwLDAsMSwyNC0yNEgyMDhWMzJINzJBMjMuOSwyMy45LDAsMCwwLDQ4LDU2WiIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iOCIvPjxwb2x5bGluZSBmaWxsPSJub25lIiBwb2ludHM9IjQ4IDIxNiA0OCAyMjQgMTkyIDIyNCIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iOCIvPjwvc3ZnPg==" />
      </div>

      <div class="nav-bar__item home active">
        <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDI1NiAyNTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3QgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNTYiIHdpZHRoPSIyNTYiLz48cGF0aCBkPSJNMTUyLDIwOFYxNjBhOCw4LDAsMCwwLTgtOEgxMTJhOCw4LDAsMCwwLTgsOHY0OGE4LDgsMCwwLDEtOCw4SDQ4YTgsOCwwLDAsMS04LThWMTE1LjVhOC4zLDguMywwLDAsMSwyLjYtNS45bDgwLTcyLjdhOCw4LDAsMCwxLDEwLjgsMGw4MCw3Mi43YTguMyw4LjMsMCwwLDEsMi42LDUuOVYyMDhhOCw4LDAsMCwxLTgsOEgxNjBBOCw4LDAsMCwxLDE1MiwyMDhaIiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSI4Ii8+PC9zdmc+" />
      </div>
      
      <div class="nav-bar__item chatList">
        <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDI1NiAyNTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3QgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNTYiIHdpZHRoPSIyNTYiLz48cGF0aCBkPSJNNzcuNCwyMDEuOWwtMzIuMywyN0E4LDgsMCwwLDEsMzIsMjIyLjhWNjRhOCw4LDAsMCwxLDgtOEgyMTZhOCw4LDAsMCwxLDgsOFYxOTJhOCw4LDAsMCwxLTgsOEg4Mi41QTcuOCw3LjgsMCwwLDAsNzcuNCwyMDEuOVoiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjgiLz48Y2lyY2xlIGN4PSIxMjgiIGN5PSIxMjgiIHI9IjgiLz48Y2lyY2xlIGN4PSI4MCIgY3k9IjEyOCIgcj0iOCIvPjxjaXJjbGUgY3g9IjE3NiIgY3k9IjEyOCIgcj0iOCIvPjwvc3ZnPg==" />
      </div>
      
      <div class="nav-bar__item mypage">
        <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDI1NiAyNTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3QgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNTYiIHdpZHRoPSIyNTYiLz48Y2lyY2xlIGN4PSIxMjgiIGN5PSI5NiIgZmlsbD0ibm9uZSIgcj0iNjQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjgiLz48cGF0aCBkPSJNMzEsMjE2YTExMiwxMTIsMCwwLDEsMTk0LDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjgiLz48L3N2Zz4=" />
      </div>
    </div>
  </div>